.heading-main{
    text-align: center;
}

.box{
    border-style: solid;
    background-color: gray;
    margin: 10px;
}

.name{
    float: right;
    border-style: solid;
    margin-top: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
}

.name1{
    background-color: pink;
}

.name2{
    background-color: red;
}

.name3{
    background-color: yellow;
}

@media(min-width: 1000px)
{
    .large{
        float: left;
        width: 33.33%;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .medium, .medium1{
        float: left;
    }

    .medium{
        width: 50%;
    }
    .medium1{
        width: 100%;
    }
}

@media(min-width:0px) and (max-width: 767px){
    .small{
        float: left;
        width: 100%;
    }
}